<section class="block block--dark footer">
    <div class="container footer__sections grid">
      <div class="collapsible collapsible__footer collapsible--expanded">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Products</h2>
          <img class="icon icon--white collapsible__chevron" src="/Moshify/Images/chevron.PNG">
        </img>
        </header>
        <ul class="list collapsible__content footer__list">
          <li><a class="list__item" href="#">Website Hosting</a></li>
          <li><a class="list__item" href="#">Free Automated Wordpress</a></li>
          <li><a class="list__item" href="#">Migrations</a></li>
        </ul>
      </div>
      <div class="collapsible collapsible__footer">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Company</h2>
          <img class="icon icon--white collapsible__chevron" src="/Moshify/Images/chevron.PNG">
        </img>
        </header>
        <ul class="list collapsible__content footer__list">
          <li><a class="list__item" href="#">About</a></li>
          <li><a class="list__item" href="#">Affiliates</a></li>
          <li><a class="list__item" href="#">Blog</a></li>
        </ul>
      </div>
      <div class="collapsible collapsible__footer">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Support</h2>
          <img class="icon icon--white collapsible__chevron" src="/Moshify/Images/chevron.PNG">
        </img>
        </header>
        <ul class="list collapsible__content footer__list">
          <li><a class="list__item" href="#">Contact</a></li>
          <li><a class="list__item" href="#">Knowledge Base</a></li>
          <li><a class="list__item" href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="collapsible collapsible__footer">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Domains</h2>
          <img class="icon icon--white collapsible__chevron" src="/Moshify/Images/chevron.PNG">
        </img>
        </header>
        <ul class="list collapsible__content footer__list">
          <li><a class="list__item" href="#">Domain Checker</a></li>
          <li><a class="list__item" href="#">Domain Transfer</a></li>
          <li><a class="list__item" href="#">Free Domain</a></li>
        </ul>
      </div>
      <div class="copyright">
        <img src="Images/logo.svg" alt="Moshify Logo">
        <span class="copyright--text">Copyright 2020</span>
        <span class="copyright--text">Mosh Hamedani</span>
      </div>
    </div>

  </section>